{% extends 'base.html' %}
{% block title %}Home Page{% endblock title %}
{% block body %}

<div class="banner-img" style="width:100%; height: 100%; background-position: center;">
   <img src="/media/{{banner.img}}" alt="{{banner.alt_text}}">
</div>
<div class="categorySection py-4 px-2" style="padding: 60px 0px;">
   <h1 class="fashion_taital">Featured Categories</h1>
   <div class="catWrapper"
      style="padding: 0px 16px; display: flex; align-items: center; justify-content: space-between; width: 100%; box-sizing: border-box;">
      <div class="categoryBox">
         <div class="categorycircle"
            style="position: relative; border-radius: 100%; background-size: cover; background-repeat: no-repeat; color: #fff;text-align: center; background-image: url('/static/1.webp'); width: 180px; height: 180px; cursor: pointer; aspect-ratio: 1/1;background-position: center;">
         </div>
         <div class="categoryText1">
            <h2 class="text-center py-2">Category1</h2>
         </div>
      </div>
      <div class="categoryBox">
         <div class="categorycircle"
            style="position: relative; border-radius: 100%; background-size: cover; background-repeat: no-repeat; color: #fff;text-align: center; background-image: url('/static/2.jpg'); width: 180px; height: 180px; cursor: pointer; aspect-ratio: 1/1;background-position: center;">
         </div>
         <div class="categoryText1">
            <h2 class="text-center py-2">Category2</h2>
         </div>
      </div>
      <div class="categoryBox">
         <div class="categorycircle"
            style="position: relative; border-radius: 100%; background-size: cover; background-repeat: no-repeat; color: #fff;text-align: center; background-image: url('/static/3.jpg'); width: 280px; height: 280px; cursor: pointer; aspect-ratio: 1/1;background-position: center; border: 2px solid red;">
         </div>
         <div class="categoryText1">
            <h2 class="text-center py-2">Category3</h2>
         </div>
      </div>
      <div class="categoryBox">
         <div class="categorycircle"
            style="position: relative; border-radius: 100%; background-size: cover; background-repeat: no-repeat; color: #fff;text-align: center; background-image: url('/static/4.jpg'); width: 180px; height: 180px; cursor: pointer;  aspect-ratio: 1/1;background-position: center;">
         </div>
         <div class="categoryText1">
            <h2 class="text-center py-2">Category4</h2>
         </div>
      </div>
      <div class="categoryBox">
         <div class="categorycircle"
            style="position: relative; border-radius: 100%; background-size: cover; background-repeat: no-repeat; color: #fff;text-align: center; background-image: url('/static/5.jpg'); width: 180px; height: 180px; cursor: pointer;  aspect-ratio: 1/1;background-position: center;">
         </div>
         <div class="categoryText1">
            <h2 class="text-center py-2">Category5</h2>
         </div>
      </div>

   </div>
</div>
{% endblock body %}

{% comment %} <!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Eflyer</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="/static/css/main.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
   <!-- Responsive-->
   <link rel="stylesheet" href="/static/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
   <!-- font awesome -->
   <!--  -->
   <!-- owl stylesheets -->
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext"
      rel="stylesheet">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesoeet" href="css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
</head>

<body>
   <!-- banner bg main start -->
   <div class="discountsection" style="width: 100%; max-width: 100vw; padding: 10px 0; background-color: black;">
   <h3 style="color: white; text-align: center; font-size: 12px; padding: 0; font-style: oblique;">UP TO 40% OFF ON SELECT STYLES</h3></div>
   <div class="banner_bg_mainn">
      <!-- header top section start -->
      <div class="contain">
         <div class="header_section_topbar"
            style="width: 100%;background-color: #2b2a29;height: auto;padding: 10px 0px;">
            <div class="row">
               <div class="col-sm-12">
                  <div class="custom_menu">
                     <div class="iconsbar">
                        <i class="fa-solid fa-magnifying-glass"
                           style="font-size: 15px; color: white; padding: 0 10px;"></i>
                        <i class="fa-solid fa-cart-shopping" style="font-size: 15px; color: white; padding: 0 10px;"></i>
                        <img src="/static/india.png" alt="flag" style="height: 20px; width: 50px; padding: 0 10px; border-radius: 20%;">
                        <h3 style="color: white; font-size: 15px; padding: 0 10px;">Login</h3>
                     </div>
                     <div class="logoimage">
                        <h1 style="color: white; font-size: 20px; padding: 0;">Wigs Company</h1>
                     </div>
                     <span class="toggle_icon" onclick="openNav()"><img src="/static/images/toggle-icon.png"
                           style="font-size:20px; height:20px; width:20px;"></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- header top section start -->
      <!-- logo section start -->
      <!-- logo section end -->
      <!-- header section start -->
      <div class="header_section">
         <div class="container">
            <div class="containt_main">
               <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="index.html">Home</a>
                  <a href="fashion.html">Fashion</a>
                  <a href="electronic.html">Electronic</a>
                  <a href="jewellery.html">Jewellery</a>
               </div>
            </div>
         </div>
      </div>
      <!-- header section end -->
      <!-- banner section start -->


      <!-- banner section end -->
      <div class="banner-img" style="width:100%; height: 100%; background-position: center;">
         <img src="/media/{{banner.img}}" alt="{{banner.alt_text}}">
      </div>
   </div>






   <!-- <div class="loader_main">
      <div class="loader"></div>
   </div> -->
   </div>
   </div>

   <div class="footer_section layout_padding">
      <div class="container">
         <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
         <div class="input_bt">
            <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
            <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
         </div>
         <div class="footer_menu">
            <ul>
               <li><a href="#">Best Sellers</a></li>
               <li><a href="#">Gift Ideas</a></li>
               <li><a href="#">New Releases</a></li>
               <li><a href="#">Today's Deals</a></li>
               <li><a href="#">Customer Service</a></li>
            </ul>
         </div>
         <div class="location_main">Help Line Number : <a href="#">+1 1800 1200 1200</a></div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html
               Templates</a></p>
      </div>
   </div>
   <!-- copyright section end -->
   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <script>
      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }
   </script>
</body>


</html> {% endcomment %}
